<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Ekran Paylaş</title>
        <link href="style.css" rel="stylesheet" type="text/css">
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div class="header">
            <div class="header-ortala">
                <div class="logo"><a href="/"><img src="/Content/images/logo.png" width="174" height="27" alt="logo"></a></div>
                <a href="#" class="freetrial"></a>
            </div>
        </div>
        <div class="container">
            @RenderBody()
        </div>
        <div class="footer-bg">
            <div class="foot-ortala">
                <div class="copy">
                    <span class="logo-foot"><a href="#"><img src="/Content/images/footer-logo.png" width="174" height="27" alt="logo"></a></span>
                    <span class="text-foot"><strong>Copyrgiht</strong> 2011 Tüm Hakları Saklıdır</span>
                </div>
                <div class="foot-links">
                    <ul>
                        <li><a href="/Home/Faq"> Daha Fazla Bilgi</a></li>
                        <li><a href="/Home/Faq">Sık Sorulalan Sorular</a></li>
                        <li><a href="/ekranpaylas.application">Download</a></li>
                        <li><a href="sartlar.html">Şartlar &amp; Koşullar</a></li>
                        <li><a href="/">Anasayfa</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</html>